<link rel="stylesheet" href="static/app/play-list/play-list.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="game">game</option>
                    <option value="-date">date</option>
                </select>
            </p>
            <p>
                <span class="glyphicon glyphicon-search"></span><input ng-model="filterplay" type="text" />
            </p>
        </div>
        <div class="col-md-10">
            <table class="table" id="plays_table">
                <tr>
                    <th>#</th>
                    <th>date</th>
                    <th>jeu</th>
                    <th>joueurs</th>
                </tr>

                <!--Body content-->
                <tr ng-repeat="play in $ctrl.plays | filter:filterplay | orderBy:$ctrl.orderProp">
                    <td>
                        <a ui-sref="play-detail({playId: $ctrl.getPlayId(play) })"><span class="glyphicon glyphicon-sunglasses" /></a>
                    </td>
                    <td>{{ $ctrl.getDate(play) }}</td>
                    <td>
                        <a ui-sref="game-detail({ gameId: play.game })">{{ play.game }}</a>
                    </td>
                    <!-- orderBy:'-scores'  reverse the sort -->
                    <td>
                        <span ng-repeat="player in play.players | orderBy:'-score'" class="player" ng-class="{'find': filterplay.length > 0 && player.login.indexOf(filterplay) !== -1}">
                            <a class="player-login" ui-sref="player-detail({playerId:  player.login })">{{ player.login }}</a>
                            <span class="player-score">{{ player.score }}</span>
                            <span ng-show="player.team_color"  style="border:2px solid {{ player.team_color }}"></span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>