
<h1>{{ $ctrl.game.game }}</h1>
played {{ $ctrl.game.plays_number }} times:<br>
<ul>
    <li><span class="glyphicon glyphicon-thumbs-up"></span> Highest: <span class="badge">{{$ctrl.game.highest_score}}</span>
        <span ng-repeat="player in $ctrl.game.highest_score_play_players"><a ui-sref="player-detail({playerId:  player })">{{ player }}</a> |</span>
        <a ui-sref="play-detail({ playId: $ctrl.game.highest_score_play_id })"><span class="glyphicon glyphicon-king"></span></a>
    </li>
    <li><span class="glyphicon glyphicon-thumbs-down"></span> Lowest: <span class="badge">{{$ctrl.game.lowest_score}}</span>
        <span ng-repeat="player in $ctrl.game.lowest_score_play_players"><a ui-sref="player-detail({playerId:  player })">{{ player }}</a> |</span>
        <a ui-sref="play-detail({  playId: $ctrl.game.lowest_score_play_id })"><span class="glyphicon glyphicon-king"></span></a>
    </li>
</ul>

<h2>Victories</h2>
<ul>
    <li ng-repeat="(player, score) in $ctrl.game.victories_per_player"> <a ui-sref="player-detail({playerId:  player })">{{ player }}</a> {{ score }}</li>
</ul>
<h2>
	Chart</h2>
<p>
    <canvas id="scoresByNumber" class="chart-bubble"
    chart-data="$ctrl.chartScoresByNumberData"
    chart-labels="$ctrl.chartScoresByNumberLabels"
    chart-options="$ctrl.chartScoresByNumberOptions"
    chart-series="$ctrl.chartScoresByNumberSeries">
	</canvas>
</p>