/* Make target light green*/
:target {
    background-color: #dff0d8;
    border: 1px solid green;

}

.player-stat-btn {
    float:right;
    margin-top: -20px;
    cursor: pointer;
}

.play-nb {
    float:right;
    margin-top: -25px;
    background-color: #39D1B4 ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: 1px solid #17B092 ;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-style: bold;
}

.game-stat ul{
    list-style-type: none;
}

.game-stat li{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 2px;
}
