{% extends "base.html" %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="static/new.css"/>
{%  endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nouvelle partie</h3>
                </div>
                <div class="panel-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <span class="date-btn" title="la date d'aujourd'hui"><span class="glyphicon glyphicon-save"></span></span>
                            <label for="dateId">date</label>
                            <input class="form-control" name="date" id="dateId" type="text" placeholder="10/01/16" />
                            <p class="help-block">La date de la partie, sous la forme DD/MM/YY</p>
                        </div>
                        <div class="form-group">
                            <label for="gameId">jeu</label>
                            <input class="form-control" name="game" id="gameId" type="text" placeholder="7wonders" />
                            <p class="help-block">Le nom du jeu</p>
                            <div class="btn-group" role="group">
                                {% for game in games | sort %}
                                    <button type="button" class="btn btn-sm btn-default game-btn">{{ game }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="winnersId">gagnants</label>
                            <input class="form-control" name="winners" id="winnersId" type="text" placeholder="severine lolo" />
                            <p class="help-block">la liste des gagnants ou vide pour calcul automatique</p>
                        </div>
                        <div class="form-group">
                            <label for="minmaxId">min/[max]</label>
                            <input class="form-control" name="minmax" id="minmaxId" type="text" placeholder="min/[max]" />
                            <p class="help-block">Type de victoire: min ou max. max par défaut</p>
                        </div>
                        <div class="form-group">
                            <label for="playersId">scores par joueur</label>
                            <textarea class="form-control" rows="8" name="players" id="playersId" placeholder="zesk:100 RED:lolo:250 BLUE:yohann:10:W"></textarea>
                            <p class="help-block">Les scores par joueur sous la forme joueur:score, un par ligne</p>
                        </div>
                        <input value="Send" type="submit" class="btn btn-default" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="static/new.js"></script>
{% endblock %}
